
/frontend/node_modules/
/frontend/dist/
/frontend/tmp/
/frontend/.angular/cache
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/pnpm-lock.yaml
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

/backend/api/bin/
/backend/api/obj/

client_secrets.json
Tokens.Gmail/
.env

.vscode/
.idea/


