/* SIDEBAR */
.sidebar {
  background: #0d3b66;
  color: white;
  min-height: 100vh;
}

/* LOGO */
.logo-img {
  max-width: 80px;
}

/* MAIN */
.main {
  background: #e6e6e6;
}

/* RESUMEN */
.card-resumen {
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.pendiente {
  background: #ffd600;
  color: rgb(0, 0, 0);
}

.aprobado {
  background: #4caf50;
  color: rgb(0, 0, 0);
}

.concluido {
  background: #2196f3;
  color: rgb(0, 0, 0);
}

/* CONTENEDOR EVENTOS */
.event-container {
  background: #e9e9e9da;
  border-radius: 5px;
  height: 720px;
}

/* TARJETA EVENTO */
.event-card {
  background: #0d3b66;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  min-height: 180px;
  border-radius: 12px;
}

/* IMAGEN EVENTO */
.event-img {
  width: 150px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* BADGE */
.estado {
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 10px;
}

.badge {
  font-size: 0.85rem; 
  padding: 8px 16px;  
  width: 100px;        
}