<div class="main-container d-flex">

  <!-- SIDEBAR -->
  <app-sidebar class="sidebar-wrapper" [links]="sidebarLinks"></app-sidebar>

  <!-- CONTENIDO -->
  <div class="content p-4 w-100">

    <h4 class="mb-4">Mis Eventos Creados</h4>

    <!-- RESUMEN -->
    <div class="d-flex gap-3 mb-4">

      <div class="card-resumen pendiente text-center p-2 flex-fill">
        PENDIENTES {{ pendingCount }}
      </div>

      <div class="card-resumen aprobado text-center p-2 flex-fill">
        APROBADOS {{ approvedCount }}
      </div>

      <div class="card-resumen concluido text-center p-2 flex-fill">
        CONCLUIDOS {{ finishedCount }}
      </div>

    </div>

    <!-- LISTA -->
    <div class="event-container p-3">

      <p>Total eventos: {{ events.length }}</p>

      <!-- SI NO HAY -->
      <div *ngIf="events.length === 0" class="text-center text-muted">
        No hay eventos creados
      </div>

      <!-- EVENTOS PAGINADOS -->
     <div *ngFor="let event of paginatedEvents"
     class="event-card d-flex align-items-center mb-4 p-4 w-100">

        <!-- IMAGEN -->
        <img 
          [src]="event.imageFileEvent 
            ? 'http://localhost:5053' + event.imageFileEvent 
            : 'assets/default.jpg'" 
          class="event-img">

        <!-- INFO -->
        <div class="flex-grow-1 ms-3">
          <h6 class="mb-1">{{ event.title }}</h6>
        </div>

        <!-- ESTADO -->
        <div class="text-end">

          <span *ngIf="getEventStatus(event) === 'pending'" 
                class="badge bg-warning mb-2">
            Pendiente
          </span>

          <span *ngIf="getEventStatus(event) === 'approved'" 
                class="badge bg-success mb-2">
            Aprobado
          </span>

          <span *ngIf="getEventStatus(event) === 'finished'" 
                class="badge bg-primary mb-2">
            Concluido
          </span>

          <br>
          <!-- BOTÓN -->
          <button 
            class="btn btn-dark btn-sm mt-4"
            [routerLink]="['/events', event.id]">
            Ver más
          </button>

        </div>

      </div>

      <!-- PAGINACIÓN -->
      <div class="d-flex justify-content-center mt-3">

        <button class="btn btn-outline-dark me-2"
                (click)="previousPage()"
                [disabled]="currentPage === 1">
          ← Anterior
        </button>

        <span class="align-self-center">
          Página {{ currentPage }} de {{ totalPages }}
        </span>

        <button class="btn btn-outline-dark ms-2"
                (click)="nextPage()"
                [disabled]="currentPage === totalPages">
          Siguiente →
        </button>

      </div>

    </div>

  </div>
</div>