/* CONTENEDOR GENERAL */
.main-container {
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 350px;
  background-color: #0f3d66;
}

/* CONTENIDO */
.content {
  flex: 1;
  background-color: #f3f4f6;
}

/* CARD */
.form-card {
  width: 900px;
  border-radius: 10px;
}

/* LINKS SIDEBAR */
.nav-link:hover {
  text-decoration: underline;
}