<div class="main-container d-flex">

  <app-sidebar class="sidebar-wrapper" [links]="sidebarLinks"></app-sidebar>

  <!-- CONTENIDO -->
  <div class="content d-flex justify-content-center align-items-center"
    style="width: 100%">

    <div class="form-card card shadow p-4" style="width: 80%;">

      <h4 class="mb-1">Crear Nuevo Evento</h4>
      <p class="text-muted mb-4">Complete la información detallada para que el
        administrador pueda revisarlo</p>

      <form (ngSubmit)="saveEvent()">

        <div class="mb-3">
          <label class="form-label">Título del Evento</label>
          <input type="text" class="form-control" [(ngModel)]="title"
            name="title">
        </div>

        <div class="mb-3">
          <label class="form-label">Descripción Detallada</label>
          <textarea class="form-control" [(ngModel)]="description"
            name="description"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Imagen del Evento</label>
          <input type="file" class="form-control"
            (change)="onFileSelected($event)">
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Categoría</label>
            <select class="form-select" [(ngModel)]="categoryId"
              name="categoryId">
              <option [ngValue]="0" disabled>Seleccione una categoría</option>
              <option *ngFor="let cat of categories" [ngValue]="cat.id">
                {{ cat.nameCategory }}
              </option>
            </select>
          </div>

          <div class="col">
            <label class="form-label">Unidad Organizadora</label>
            <select [(ngModel)]="organizerEntityId" name="organizerEntityId"
              class="form-select">
              <option [ngValue]="0" disabled>Seleccione una unidad</option>
              <option *ngFor="let entity of organizerEntities"
                [value]="entity.id">
                {{ entity.entityName }}
              </option>

            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Fecha y Hora</label>
            <input type="datetime-local" class="form-control" [(ngModel)]="date"
              name="date">
          </div>

          <div class="col">
            <label class="form-label">Cupo Máximo</label>
            <input type="number" class="form-control" [(ngModel)]="capacity"
              name="capacity">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Lugar Físico / Link Virtual</label>
          <input type="text" class="form-control" [(ngModel)]="place"
            name="place">
        </div>

        <div class="mb-3">
          <label class="form-label">Modalidad</label><br>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="isVirtual"
              name="isVirtual"
              id="isVirtual">
            <label class="form-check-label" for="isVirtual">
              Evento virtual
            </label>
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-primary">
            Guardar Evento
          </button>
        </div>

      </form>

    </div>

    <!-- ═══ MODAL ═══ -->
    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal-box">

        <!-- Ícono -->
        <div class="modal-icon"
          [ngClass]="modalSuccess ? 'icon-success' : 'icon-error'">
          <span *ngIf="modalSuccess">✓</span>
          <span *ngIf="!modalSuccess">!</span>
        </div>

        <!-- Texto -->
        <h4 class="modal-title-text">{{ modalTitle }}</h4>
        <p class="modal-message">{{ modalMessage }}</p>

        <!-- Botón -->
        <button
          class="btn modal-btn"
          [ngClass]="modalSuccess ? 'btn-success-custom' : 'btn-error-custom'"
          (click)="closeModal()">
          Continuar
        </button>

      </div>
    </div>

  </div>

</div>
