/* CONTENEDOR GENERAL */
.main-container {
  height: 100vh;
}

.sidebar-wrapper {
  flex: 0 0 350px;
}

/* LINKS SIDEBAR */
.nav-link:hover {
  text-decoration: underline;
}
.logo-img {
  max-width: 220px;
}
